<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.accelerate.napknbook">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Required Features -->
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Napknbook"
        android:usesCleartextTraffic="false"> <!-- set to true only if your backend is not HTTPS -->

        <!-- Launcher -->
        <activity
            android:name=".LoadingActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Core App Activities -->
        <activity android:name=".MainActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".TasksActivity" android:exported="true" />
        <activity android:name=".CameraActivity" android:exported="false" />
        <activity android:name=".InventoryActivity" android:exported="true" android:screenOrientation="portrait" />

        <!-- Authentication -->
        <activity android:name=".LoginActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".RegisterActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".isUserActivity" android:exported="false" android:screenOrientation="portrait" />

        <!-- Settings and User -->
        <activity android:name=".SettingsActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".UserActivity" android:exported="false" android:screenOrientation="portrait" />

        <!-- Task Management -->
        <activity android:name=".add.AddTaskCategoryActivity" android:exported="false" />
        <activity android:name=".edit.EditTaskCategoryActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".edit.EditTaskActivity" android:exported="false" android:screenOrientation="portrait" />

        <!-- Other Features -->
        <activity android:name=".GoldActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".SkillsActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".SkillActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".GearActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".ConvoActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".ConnectActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".LeaderboardsActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".ShortsActivity" android:exported="false" android:screenOrientation="portrait" />

        <!-- Add Sub-Features -->
        <activity android:name=".add.AddCommentActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".add.AddConvoActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".add.AddSkillActivity" android:exported="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />

        <!-- Trade -->
        <activity android:name=".TradeActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".ConfirmTradeActivity" android:exported="false" android:screenOrientation="portrait" />

        <!-- Demo Activities -->
        <activity android:name=".demo.DemoMainActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".demo.DemoExploreActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".demo.DemoInventoryActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".demo.DemoSkillsActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".demo.DemoSkillActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".demo.BeirutExplosionDemoActivity" android:exported="false" android:screenOrientation="portrait" />

    </application>

</manifest>
